:root {
--myPurple: #301934;
}


/* GLOBAL STYLES */
.text_center {
    text-align: center;
}


/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header #highScoresButton {
    background-color: var(--myPurple);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

header #timer {
    font-size: 20px;
    font-weight: bold;
}


/* LOCAL STYLES */
#choices li{
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.button-style,
#startButton {
    width: 50%;
    background-color: var(--myPurple);
    color: #fff;
    padding: 5px;
}

#startButton {
    width: fit-content;
}