/* GLOBAL CLASSES */
.text_center {
    text-align: center;
}


/* LOCAL CLASSES */
#choices li{
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.button-style {
    width: 50%;
    background-color: #301934;
    color: #fff;
    padding: 5px;
}

#startButton {
    width: fit-content;
}